@font-face {
  font-family: "F1_Bold";
  src: url("assets/fonts/F1_fonts/Formula1-Bold.otf") format("opentype");
}

@font-face {
  font-family: "F1_Regular";
  src: url("assets/fonts/F1_fonts/Formula1-Regular.otf") format("opentype");
}

@font-face {
  font-family: "F1_Wide";
  src: url("assets/fonts/F1_fonts/Formula1-Wide.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  background: #ffffff;
  user-select: none;
  overflow: hidden;
}

#selection-screen {
  display: flex;
  z-index: 1000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  color: #ffffff;
  font-family: F1_Regular;
  gap: 3em;
}

#selection-screen-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
}

.team-button {
  width: 10vw;
  height: 18.5vh;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border: #ffffff solid 3px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.team-button:hover {
  transform: scale(1.1);
}

.mclaren {
  background-image: url("assets/img/MCL_ICO.png");
  background-color: #f58129;
}

.ferrari {
  background-image: url("assets/img/SF_ICO.png");
  background-color: #ff0000;
  background-size: 110%;
}

.redbull {
  background-image: url("assets/img/RB_ICO.png");
  background-color: #00182c;
}

.mercedes {
  background-image: url("assets/img/MERCEDES_ICO.png");
  background-color: #61cdc0;
  background-size: 60%;
}

.aston-martin {
  background-image: url("assets/img/AM_ICO.png");
  background-color: #006860;
  background-size: 108%;
}

.alpine {
  background-image: url("assets/img/ALP_ICO.png");
  background-color: #bf70add1;
}

.haas {
  background-image: url("assets/img/HAAS_ICO.png");
  background-color: #ffffff;
  background-size: 70%;
}

.vcarb {
  background-image: url("assets/img/VCARB_ICO.png");
  background-color: #1432c6;
}

.williams {
  background-image: url("assets/img/WILLIAMS_ICO.png");
  background-color: #009bd7;
  background-size: 70%;
}

.sauber {
  background-image: url("assets/img/SAUBER_ICO.png");
  background-color: #4ff317;
  background-size: 120%;
}

main {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
}

#left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 33%;
  height: 100%;
  background-color: #ff0000;
}

#left-content-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 15%;
}

#left-content-header h1 {
  font-family: F1_Bold;
  font-size: 1.2em;
  color: #ffffff;
  padding: 0.3em 0 0.3em 0;
  margin: 1em 0 0.5em 0;
  text-align: center;
  width: 80%;
  border-radius: 20px;
}

#left-content-header h2 {
  font-family: F1_Regular;
  font-size: 1.2em;
  color: #ffffff;
}

#left-content-header h4 {
  font-family: F1_Regular;
  font-size: 1em;
  color: #ffffff;
}

#clicking-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
}

.click-img {
  width: 70%;
  filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.5));
}

.click-img:hover {
  cursor: pointer;
}

.click-img:active {
  transform: scale(1.05);
}

#left-content-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ff0000;
}

#raceboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #212325;
}

#raceboard-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  background-color: #212325;
  color: #9d9fa3;
  font-size: 1.4em;
  font-family: F1_Bold;
  vertical-align: middle;
  position: relative;
}

#raceboard-header img {
  width: 20%;
}

#raceboard-subheader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  color: #9d9fa3;
  font-size: 1em;
  font-family: F1_Regular;
  font-style: italic;
  position: absolute;
  top: 2.5em;
}

#current-lap {
  font-family: F1_Bold;
  color: #ffffff;
}

#raceboard-content {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100%;
  background-color: #212325;
  padding-top: 1.6em;
}

#raceboard-numbers {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 7%;
  height: 100%;
  background-color: #0f0f10;
  color: #68686a;
  font-size: 0.8em;
  font-family: F1_Regular;
  font-style: italic;
  padding-top: 0.6em;
}

#raceboard-numbers p {
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#raceboard-drivers {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #212325;
  padding-top: 0.6em;
}

.driver {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 28px;
  color: #ffffff;
  font-size: 0.8em;
  font-family: F1_Bold;
  padding-left: 0.6em;
  letter-spacing: 0.2mm;
  gap: 1.5em;
}

.fake-time {
  font-family: F1_Regular;
  font-style: italic;
  font-size: 0.9em;
}

@media screen and (max-width: 768px) {
  body {
    -webkit-user-select: none;
    user-select: none;
  }

  .team-button {
    width: 13vw;
    height: 11vh;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    touch-action: manipulation;
    transition: 0.2s ease-in-out;
  }

  .team-button:hover {
    transform: scale(1.05);
  }

  .team-button:focus {
    outline: none;
  }

  #left-content-header h1 {
    font-size: 1em;
  }

  #left-content-header h2 {
    font-size: 1em;
  }

  #left-content-header h4 {
    font-size: 0.6em;
  }

  .click-img {
    width: 70%;
  }

  #raceboard-header {
    height: 10%;
  }

  #raceboard-header img {
    width: 30%;
  }

  #raceboard-numbers {
    width: 16%;
  }
}

@media screen and (max-width: 435px) {
  #selection-screen {
    font-size: 0.6em;
  }

  #selection-screen-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .team-button {
    width: 36vw;
    height: 14vh;
  }

  #left-content-header h1 {
    font-size: 0.8em;
  }

  #left-content-header h2 {
    font-size: 0.8em;
  }

  #left-content-header h4 {
    font-size: 0.5em;
  }

  .click-img {
    width: 90%;
  }

  #raceboard-header img {
    width: 40%;
  }

  #raceboard-header {
    font-size: 1em;
  }

  #raceboard-subheader {
    font-size: 0.8em;
    height: 3%;
  }

  #raceboard-numbers {
    font-size: 0.3em;
    width: 20%;
  }

  #raceboard-drivers {
    font-size: 0.5em;
  }

  .driver {
    gap: 1em;
  }
}
